p {
 font-size: 1.3rem;
}

/*navbar*/
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.navbar-nav .nav-item.active:hover {
  background-color: #eaeaea;
}
.nav-link:hover {
  background-color: #eaeaea;
  border-radius: 10px; 
}

/*navbar*/

/*First website*/
.display-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding: 15px;
}
.display-image .first-website {
  padding: 40px;
  width: 80%;
}

.text-bellow-first-website{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 30px;
 
}
.text-below-first-website h3{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.text-below-modal{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.text-below-modal h3{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}



/*First website*/

/* Show more buttons*/

.buttonsy{
  padding: 50px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #eaeaea;
  margin-bottom: 30px;
}


/*

.container-grid{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #eaeaea;
  
}
#p-tag {

  font-size: 18px;
  margin: auto;
  max-height: 150px;
  overflow: hidden;

  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;

}

#p-tag.open {
  max-height: 1000px;


  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}

#show-more {
  background-color: #eaeaea;
  font-size: 15px;
  width: 180px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  border-radius: 6px;
  display: flex;

}

.open {
  background-color: #eaeaea;
  max-width: 100%;
  max-height: 100%;
}

*/


/*Show more*/







/*footer*/
.p-section {
  background-color: #eaeaea;
  color: #fff;
  padding: 80px 0;
  border-radius: 10px;
}

.section-title h3 {
  color: rgb(8, 7, 7);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.section-title p {
  padding-bottom: 60px;
  color: rgb(8, 7, 7);
  font-size: 18px;
  font-weight: 500;
}

.p-table {
  text-align: center;
  background: #fff;

}

.plan-name {
  background: #5BB12F;
}

.plan-name h3 {
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
}

.plan-p {
  padding: 25px 0;
}

.plan-p .price-value {
  font-size: 38px;
  line-height: 40px;
  font-weight: 600;
  color: #444;
}

.plan- .p-value span {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}

.plan-p .p-value span {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  color: #333;
}

.plan-p .interval {
  color: #333;
  text-transform: capitalize;
  font-style: italic;
}

.plan-list ul {
  list-style: none;
  padding: 0;
  font-weight: 500;
}

.plan-list li {
  padding: 13px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  color: #333;
}

.plan-list li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.plan-list li:first-child {
  border-top: 1px solid #eee;
}

.plan-signup {
  background: #5BB12F;
}

.plan-signup a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}



/*footer*/