* {
  box-sizing: border-box;
}

.text {
 
}

.text p{
  text-align: justify;
}




/*Hamburger menu*/

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;

}

.navbar-nav .nav-link.active:hover {
  background-color: #eaeaea;

}

.nav-link:hover {
  background-color: #eaeaea;
  border-radius: 10px;
}


/*Hamburger menu*/

/*Learning steps*/

.colapse-menu {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px #eaeaea solid;
  position: relative;
  background-color: #eaeaea;


}

.colapse-menu .btn {
  background-color: rgb(25, 141, 236);
  box-shadow: none !important;
  color: white;
}


.colapse-menu li {
  display: flex;
  font-size: 18px;
  display: flex;






}

.colapse-menu li button {
  display: flex;
  margin: 5px;
  align-content: flex-end;
  padding: 5px;





}

/*Learning steps*/

.boki1 .container {
  margin: 5px;
  padding: 5px;


}

.boki {

  display: flex;
  gap: 30px;

  margin: 0;
  padding: 0;
}

.boki button {
  background-color: rgb(25, 141, 236);
  box-shadow: none !important;
  color: rgb(11, 11, 11);
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;

}

.boki button:hover {
  background-color: #eaeaea;
  opacity: 0.5;
}

/*Learning steps*/








/* hello world developers Animations*/
.body-animation {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.body-animation h1 {
  color: rgb(157, 5, 5);
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  background: linear-gradient(to right,
      hsl(0, 90%, 8%) 0,
      hsl(0, 0%, 100%) 10%,
      hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 515px;
  }
}

/* hello world developers Animations   ---- end---*/




.container h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 2rem;

}

.front-end-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.container p {
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;


}



/*Modal*/












/*Modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 50%;
  width: auto;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  color: black;
  background-color: #eaeaea;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {


  color: white;
}

/*Modal button*/

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.modal-container button {

  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

.modal-container button:hover {
  color: #000000;
  background-color: #47f681;
}

/*Modal*/


.container .hr-line{
  height: 15px;
  width: 100%;
}
.container .hr-line1{
  height: 10px;
  width: 100%;

}

.container .hr-line2{
  height: 5px;
  width: 100%;
}
